language: java
env:
  - MAVEN_VERSION=3.0.5
  - MAVEN_VERSION=3.2.3
  - MAVEN_VERSION=3.2.5
  - MAVEN_VERSION=3.3.3
  - MAVEN_VERSION=3.3.9
  - MAVEN_VERSION=3.5.0
jdk:
  - openjdk7
  - oraclejdk8
dist: trusty
install:
  - "mvn -N io.takari:maven:wrapper -Dmaven=${MAVEN_VERSION}"
  - "./mvnw --show-version --errors --batch-mode test-compile dependency:go-offline"
script: "./mvnw --show-version --errors --batch-mode clean verify"
cache:
    directories:
    - $HOME/.m2
branches:
    except:
        - gh-pages
notifications:
    email:
        - olamy@apache.org        
